<%= for node <- @course.nodes do %>
  <%= link "New node", to: Routes.admin_course_node_path(@conn, :new, @course) %>
  <%= render(NodeView, NodeView.node_layout(node), Map.put(assigns, :node, NodeView.prepare_content(node))) %>
  <%= link "New node", to: Routes.admin_course_node_path(@conn, :new, @course) %>
<% end %>
  