<h2>Show Chapter</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @chapter.title %>
  </li>
  <%= for section <- @sections do %>
    <li><%= link section.title, to: course_chapter_section_path(@conn, :show, @chapter.course_id, @chapter.id, section.id) %></li>
  <% end %>

</ul>
